
.svg-container {
  display: inline-block;
  position: relative;
  width: 95%;
  padding-bottom: 90%;/* aspect ratio */
  vertical-align: middle;
  overflow: hidden;
  margin: auto;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}
.splitter {
  width: 100%;
  height: 100px;
  display: flex;
}

#config {
  /* background-color: #dde; */
  width: 30%;
  height: 100%;
  min-width: 10px;
}
#mapviewer {
  width: 70%;
  height: 100%;
  min-width: 10px;
}
.agents{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.agent-button{
  border-radius: 8px;
  text-align: center;
  padding: none;
}
.agents label{
  color: azure;
  margin: auto;
}
.agent-image:hover{
  width: 82px;
  height: 54px;
}
.agent-image{
  max-width: 80px;
  max-height: 52px;
}

.btn {
  pointer-events: all;
  
  font-family: FontAwesome;
  fill: #333;
  font-size: 32px;
  text-anchor: middle;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:hover {
  fill: black;
  cursor: pointer;
}
@font-face {
  font-family: "FontAwesome";
  src: url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
}